<!DOCTYPE html>
<html>
<head>
    <title>race_team_shipment</title>
</head>
<body>
    <h1>Show the race ID, team name, shipment ID, and shipment status for shipments that are currently "In Transit."</h1>
</body>
</html>