<!DOCTYPE html>
<html>
<head>
    <title>Race Team Shipment</title>
    <script type="text/javascript" src="static/dropdowns.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <h1>Race Team Shipment Details</h1>

    {% for message in get_flashed_messages() %}
    <p><i>{{ message }}</i></p>
    {% endfor %}

    <form>
        <p>
            <select id="team_name" name="team_name"></select>
            <input type="submit">
        </p>
    </form>
    <script>
        init_select("team_name", teams, "{{ team_name }}");
    </script>

    {% if data %}
    <div id="table_div"></div>
    <div id="chart_div"></div>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['table'] });
        google.charts.setOnLoadCallback(drawTable);

        function drawTable() {
            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Race ID');
            data.addColumn('string', 'Team Name');
            data.addColumn('string', 'Shipment ID');
            data.addColumn('string', 'Shipment Status');

            data.addRows([
                {% for row in data %}
                ['{{ row.RaceID }}', '{{ row.TeamName }}', '{{ row.ShipmentID }}', '{{ row.ShipmentStatus }}'],
                {% endfor %}
            ]);

            var options = {
                showRowNumber: true,
                page: true,
                pageSize: 10,
            };

            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Shipment Status');
            data.addColumn('number', 'Count');

            data.addRows([
                {% for status, count in shipment_status_counts.items() %}
                ['{{ status }}', {{ count }}],
                {% endfor %}
            ]);

            var options = {
                hAxis: {
                    title: 'Shipment Status',
                },
                vAxis: {
                    title: 'Count',
                    format: '0',
                },
                legend: {
                    position: "none",
                },
                width: 600,
                height: 400,
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    {% endif %}

</body>
</html>
