# Backup files
*~
*.bak

# macOS hidden files
.DS_Store
._*

# Python byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
webapp/templates/schema.png
webapp/templates/about.jinja
