<!DOCTYPE html>
<html>
<head>
    <title>MWM Home</title>
</head>
<body>
    <h1>Test Links</h1>
    <ul>
        <li><a href="workshops">Workshops</a></li>
        <li><a href="workshops/1">Edit Workshop</a></li>
        <li><a href="workshops/new">Add Workshop</a></li>
    </ul>

    <h2>Stella Lee</h2>
    <ul>
        <li><a href="raceevent">Race Events</a></li>
        <li><a href="raceevent/1">Edit Race Events</a></li>
        <li><a href="raceevent/new">Add Race Events</a></li>
    </ul>
</body>
</html>