<!DOCTYPE html>
<html>
<head>
    <title>F1DB Home</title>
</head>
<body>
    <h1>Test Links</h1>
    <ul>
        <li><a href="workshops">Workshops</a></li>
        <li><a href="workshops/1">Edit Workshop</a></li>
        <li><a href="workshops/new">Add Workshop</a></li>
    </ul>

    <h2>Stella Lee</h2>
    <ul>
        <li><a href="raceevent">Race Events</a></li>
        <li><a href="raceevent/1">Edit Race Events</a></li>
        <li><a href="raceevent/new">Add Race Events</a></li>
    </ul>
    <h2>Kane Dacier</h2>
    <ul>
        <li><a href="/person">All People</a></li>
        <li><a href="/person/1">Edit Person</a></li>
        <li><a href="/person/new">Add Person</a></li>
    </ul>
    <h2>Austin Earl</h2>
    <ul>
        <li><a href="shipment">Shipment</a></li>
        <li><a href="shipment/1">Edit a Shipment</a></li>
        <li><a href="shipment/new">Add Shipment</a></li>
    </ul>
</body>
</html>