<!DOCTYPE html>
<html>
<head>
    <title>F1DB Home</title>
</head>
<body>
    <h1>F1 DB Home</h1>

    <h2>Stella Lee</h2>
    <ul>
        <li><a href="raceevent">Race Events</a></li>
        <li><a href="raceevent/1">Edit Race Events</a></li>
        <li><a href="raceevent/new">Add Race Events</a></li>
    </ul>
    <h2>Kane Dacier</h2>
    <ul>
        <li><a href="/person">All People</a></li>
        <li><a href="/person/1">Edit Person</a></li>
        <li><a href="/person/new">Add Person</a></li>
    </ul>
    <h2>Austin Earl</h2>
    <ul>
        <li><a href="shipment">Shipment</a></li>
        <li><a href="shipment/1">Edit a Shipment</a></li>
        <li><a href="shipment/new">Add Shipment</a></li>
        <li><a href="kit/new">Kit</a></li>
    </ul>
    <h2>Gavin Barro</h2>
    <ul>
        <li><a href="container">Container</a></li>
        <li><a href="container/1">Edit a Container</a></li>
        <li><a href="container/new">Add Container</a></li>
    </ul>

    <h2>Views</h2>
    <ul>
        <li><a href="critical_dates">critical_dates</a></li>
        <li><a href="race_team_shipment_status">race_team_shipment_status</a></li>
        <li><a href = "select_team_kits">See a specific teams kit</a>
        <li><a href = "overweight_kits">See all Containers above a certain weight</a></li>
    </ul>
</body>
</html>