<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
       body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
    overflow: hidden;
    background-color: #CBB677;
    }

    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    .topnav a.active {
    background-color: #450084;
    color: white;
    }
    .styled_button {
    background-color: #450084; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .styled_button:active {
    background-color: #CBB677; /* Darker green on active (click) */
    transform: scale(0.98);     /* Slight shrink on click */
}
</style>
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/raceorganizer">Race Organizer</a>
  <a href="/race_crew">Shipment Manager</a>
  <a  class="active" href="/team_manager">Team Manager</a>
  <a href="/contact">Contact Us</a>
  <a href="/about">About</a>
  <a href="/test">Test</a>
</div>
    <h1>{{ "Add" if key == "new" else "Edit" }} Race Event</h1>

    {% for message in get_flashed_messages() %}
    <p><i>{{ message }}</i></p>
    {% endfor %}

    <form>
        <p>
            RaceID:<br>
            <input name="RaceID" type="text" value="{{ values[0] }}">
        </p>
        <p>
            Location:<br>
            <input name="Location" type="text" value="{{ values[1] }}">
        </p>
        <p>
            Date:<br>
            <input name="Date" type="text" value="{{ values[2] }}">
        </p>
        <p>
            CreatorID:<br>
            <input name="CreatorID" type="text" value="{{ values[3] }}">
        </p>

        {% if key == "new" %}
        <p>
            <input name="action" type="submit" value="Insert" style="color: green;">
            <input name="action" type="submit" value="Cancel">
        </p>
        {% else %}
        <p>
            <input name="action" type="submit" value="Update" style="color: green;">
            <input name="action" type="submit" value="Cancel">
            <input name="action" type="submit" value="Delete" style="color: red">
        </p>
        {% endif %}
    </form>
</body>
</html>
