<!DOCTYPE html>
<html>
<head>
    <title>{{ "Add" if key == "new" else "Edit" }} Workshop</title>
</head>
<body>
    <h1>{{ "Add" if key == "new" else "Edit" }} Workshop</h1>

    {% for message in get_flashed_messages() %}
    <p><i>{{ message }}</i></p>
    {% endfor %}

    <form>
        <p>
            ShipmentID:<br>
            <input name="ID" type="text" value="{{ values[0] }}">
        </p>
        <p>
            RaceID:<br>
            <input name="State" type="text" value="{{ values[1] }}">
        </p>
        <p>
            CurrentLocation:<br>
            <input name="Title" type="text" value="{{ values[2] }}">
        </p>
        <p>
            Destination:<br>
            <input name="Advertisement" type="text" value="{{ values[3] }}">
        </p>
        <p>
            Method:<br>
            <input name="Description" type="text" value="{{ values[4] }}">
        </p>
        <p>
            CreatedBy:<br>
            <input name="Capacity" type="text" value="{{ values[5] }}">
        </p>
        <p>
            Status:<br>
            <input name="ComputerNeeds" type="text" value="{{ values[6] }}">
        </p>
       
        {% if key == "new" %}
        <p>
            <input name="action" type="submit" value="Insert" style="color: green;">
            <input name="action" type="submit" value="Cancel">
        </p>
        {% else %}
        <p>
            <input name="action" type="submit" value="Update" style="color: green;">
            <input name="action" type="submit" value="Cancel">
            <input name="action" type="submit" value="Delete" style="color: red">
        </p>
        {% endif %}
    </form>
</body>
</html>